<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand" routerLink="/" routerLinkActive="active-link">Sneakers News</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" routerLink="/home" routerLinkActive="active-link">Accueil</a>
          </li>
          <li class="nav-item" *ngIf="authService.connectedUser">
            <a class="nav-link" routerLink="/articles" routerLinkActive="active-link">Articles</a>
          </li>
          <li class="nav-item" *ngIf="authService.connectedUser">
            <a class="nav-link" routerLink="/add" routerLinkActive="active-link">Ecrire un article</a>
          </li>
        </ul>
        <form class="d-flex">
          <button class="btn btn-outline-primary" *ngIf="!authService.connectedUser" routerLink="/login" routerLinkActive="active-link">Connexion</button>
          &nbsp;&nbsp;
          <button class="btn btn-outline-info" *ngIf="!authService.connectedUser" routerLink="/register" routerLinkActive="active-link">Inscription</button>
          <button class="btn btn-outline-danger" *ngIf="authService.connectedUser" (click)="logout()">Déconnexion</button>
        </form>
      </div>
    </div>
</nav>
<section class="py-5 text-center container">
  <div class="row py-lg-5">
    <div class="col-lg-6 col-md-8 mx-auto">
      <h1 class="fw-light">Sneakers News</h1>
      <p class="lead text-muted">Les dernières nouvelles sur les sneakers publiés par et pour des sneakers addicts.</p>
    </div>
  </div>
</section>